body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(244, 244, 244);
}

.btn{
    padding: 10px 30px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    cursor: pointer;
}

.success{
    background-color: #149a21;
    color: #ffffff;
    border-color: #149a21;
}

.success:hover{
    background-color: transparent;
    border-color: #149a21;
    color: #149a21;
}

label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #919191;
}

.inputColor:focus {
    box-shadow: none;
}

.inputColor {
    border-radius: 25px;
    cursor: pointer;
}

span.inputColor {
    width: 120px;
}

.input-group-text.inputColor {
    background-color: #14539a;
    color: #ffffff;
    font-weight: 500;
}

.content-box {
    background-color: #ffffff;
    margin: 100px 20px 0 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    -webkit-box-shadow: -1px 6px 11px 0px rgba(230, 230, 230, 1);
    -moz-box-shadow: -1px 6px 11px 0px rgba(230, 230, 230, 1);
    box-shadow: -1px 6px 11px 0px rgba(230, 230, 230, 1);
    border-radius: 50px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

.depan {
    bottom: 131px;
    left: 74px;
    width: 90px;
    height: 130px;
}

.img {
    z-index: 2;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.velg {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

/* 4K to Middle Laptop L */
@media screen and (max-width: 2560px) and (min-width: 1400px) {
    .velg-front {
        bottom: 45px;
        right: 55px;
        width: 130px;
        height: 150px;
    }

    .velg-rear {
        bottom: 120px;
        left: 60px;
        width: 105px;
        height: 140px;
    }
}

/* Middle Laptop L */
@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .velg-front {
        bottom: 30px;
        right: 50px;
        width: 110px;
        height: 140px;
    }

    .velg-rear {
        bottom: 110px;
        left: 60px;
        width: 85px;
        height: 120px;
    }
}

/* Middle Laptop L to Laptop */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .velg-front {
        bottom: 30px;
        right: 40px;
        width: 90px;
        height: 110px;
    }

    .velg-rear {
        bottom: 90px;
        left: 40px;
        width: 80px;
        height: 100px;
    }
}

/* to Laptop to Tablet*/
@media screen and (max-width: 991px) and (min-width: 768px) {
    .velg-front {
        bottom: 15px;
        right: 30px;
        width: 70px;
        height: 85px;
    }

    .velg-rear {
        bottom: 60px;
        left: 30px;
        width: 60px;
        height: 75px;
    }
}

/* Tablet*/
@media screen and (max-width: 767px) and (min-width: 576px) {
    .velg-front {
        bottom: 30px;
        right: 40px;
        width: 100px;
        height: 120px;
    }

    .velg-rear {
        bottom: 90px;
        left: 45px;
        width: 85px;
        height: 110px;
    }
}

/* Tablet*/
@media screen and (max-width: 575px) and (min-width: 568px) {
    .velg-front {
        bottom: 30px;
        right: 40px;
        width: 110px;
        height: 130px;
    }

    .velg-rear {
        bottom: 105px;
        left: 50px;
        width: 90px;
        height: 110px;
    }
}

/* Tablet*/
@media screen and (max-width: 567px) and (min-width: 554px) {
    .velg-front {
        bottom: 30px;
        right: 45px;
        width: 105px;
        height: 125px;
    }

    .velg-rear {
        bottom: 105px;
        left: 55px;
        width: 80px;
        height: 105px;
    }
}

/* Tablet*/
@media screen and (max-width: 553px) and (min-width: 537px) {
    .velg-front {
        bottom: 30px;
        right: 45px;
        width: 100px;
        height: 120px;
    }

    .velg-rear {
        bottom: 100px;
        left: 55px;
        width: 75px;
        height: 105px;
    }
}

/* Tablet*/
@media screen and (max-width: 536px) and (min-width: 522px) {
    .velg-front {
        bottom: 30px;
        right: 35px;
        width: 110px;
        height: 115px;
    }

    .velg-rear {
        bottom: 100px;
        left: 55px;
        width: 70px;
        height: 100px;
    }
}

/* Tablet*/
@media screen and (max-width: 521px) and (min-width: 502px) {
    .velg-front {
        bottom: 30px;
        right: 35px;
        width: 105px;
        height: 110px;
    }

    .velg-rear {
        bottom: 95px;
        left: 50px;
        width: 70px;
        height: 95px;
    }
}

/* Tablet*/
@media screen and (max-width: 501px) and (min-width: 486px) {
    .velg-front {
        bottom: 30px;
        right: 28px;
        width: 105px;
        height: 105px;
    }

    .velg-rear {
        bottom: 90px;
        left: 50px;
        width: 65px;
        height: 95px;
    }
}

/* Tablet*/
@media screen and (max-width: 485px) and (min-width: 468px) {
    .velg-front {
        bottom: 30px;
        right: 25px;
        width: 105px;
        height: 100px;
    }

    .velg-rear {
        bottom: 85px;
        left: 50px;
        width: 60px;
        height: 95px;
    }
}

/* Tablet*/
@media screen and (max-width: 467px) and (min-width: 450px) {
    .velg-front {
        bottom: 30px;
        right: 25px;
        width: 100px;
        height: 95px;
    }

    .velg-rear {
        bottom: 80px;
        left: 45px;
        width: 60px;
        height: 90px;
    }
}

/* Tablet*/
@media screen and (max-width: 449px) and (min-width: 428px) {
    .velg-front {
        bottom: 28px;
        right: 25px;
        width: 95px;
        height: 90px;
    }

    .velg-rear {
        bottom: 75px;
        left: 45px;
        width: 55px;
        height: 85px;
    }
}

/* Tablet to Mobile L*/
@media screen and (max-width: 427px) and (min-width: 412px) {
    .velg-front {
        bottom: 27px;
        right: 20px;
        width: 90px;
        height: 85px;
    }

    .velg-rear {
        bottom: 75px;
        left: 40px;
        width: 55px;
        height: 75px;
    }
}

/* Mobile L to Mobile M*/
@media screen and (max-width: 411px) and (min-width: 396px) {
    .velg-front {
        bottom: 27px;
        right: 20px;
        width: 85px;
        height: 80px;
    }

    .velg-rear {
        bottom: 70px;
        left: 40px;
        width: 50px;
        height: 75px;
    }
}

/* Mobile L to Mobile M*/
@media screen and (max-width: 395px) and (min-width: 380px) {
    .velg-front {
        bottom: 26px;
        right: 20px;
        width: 80px;
        height: 76px;
    }

    .velg-rear {
        bottom: 65px;
        left: 40px;
        width: 45px;
        height: 75px;
    }
}

/* Mobile L to Mobile M*/
@media screen and (max-width: 379px) and (min-width: 369px) {
    .velg-front {
        bottom: 24px;
        right: 20px;
        width: 75px;
        height: 73px;
    }

    .velg-rear {
        bottom: 65px;
        left: 39px;
        width: 44px;
        height: 70px;
    }
}

/* Mobile M */
@media screen and (max-width: 368px) and (min-width: 358px) {
    .velg-front {
        bottom: 22px;
        right: 20px;
        width: 70px;
        height: 72px;
    }

    .velg-rear {
        bottom: 64px;
        left: 37px;
        width: 43px;
        height: 65px;
    }
}

/* Mobile M */
@media screen and (max-width: 357px) and (min-width: 348px) {
    .velg-front {
        bottom: 22px;
        right: 21px;
        width: 65px;
        height: 68px;
    }

    .velg-rear {
        bottom: 62px;
        left: 35px;
        width: 43px;
        height: 60px;
    }
}

/* Mobile M */
@media screen and (max-width: 347px) and (min-width: 338px) {
    .velg-front {
        bottom: 22px;
        right: 21px;
        width: 62px;
        height: 65px;
    }

    .velg-rear {
        bottom: 60px;
        left: 34px;
        width: 41px;
        height: 60px;
    }
}

/* Mobile M */
@media screen and (max-width: 337px) and (min-width: 327px) {
    .velg-front {
        bottom: 21px;
        right: 21px;
        width: 60px;
        height: 63px;
    }

    .velg-rear {
        bottom: 57px;
        left: 32px;
        width: 40px;
        height: 56px;
    }
}

/* Mobile M to Mobile S*/
@media screen and (max-width: 326px) and (min-width: 315px) {
    .velg-front {
        bottom: 20px;
        right: 21px;
        width: 56px;
        height: 60px;
    }

    .velg-rear {
        bottom: 55px;
        left: 32px;
        width: 36px;
        height: 55px;
    }
}

/* Mobile S*/
@media screen and (max-width: 314px) and (min-width: 306px) {
    .velg-front {
        bottom: 18px;
        right: 21px;
        width: 55px;
        height: 58px;
    }

    .velg-rear {
        bottom: 52px;
        left: 30px;
        width: 36px;
        height: 55px;
    }
}

/* Mobile S*/
@media screen and (max-width: 305px) and (min-width: 300px) {
    .velg-front {
        bottom: 18px;
        right: 21px;
        width: 50px;
        height: 55px;
    }

    .velg-rear {
        bottom: 50px;
        left: 30px;
        width: 34px;
        height: 53px;
    }
}

/* Mobile S*/
@media screen and (max-width: 299px) and (min-width: 292px) {
    .velg-front {
        bottom: 15px;
        right: 21px;
        width: 50px;
        height: 56px;
    }

    .velg-rear {
        bottom: 49px;
        left: 29px;
        width: 33px;
        height: 51px;
    }
}

/* Mobile S*/
@media screen and (max-width: 291px) and (min-width: 282px) {
    .velg-front {
        bottom: 15px;
        right: 21px;
        width: 45px;
        height: 55px;
    }

    .velg-rear {
        bottom: 47px;
        left: 28px;
        width: 31px;
        height: 49px;
    }
}

/* Mobile S*/
@media screen and (max-width: 281px) and (min-width: 273px) {
    .velg-front {
        bottom: 15px;
        right: 19px;
        width: 46px;
        height: 51px;
    }

    .velg-rear {
        bottom: 45px;
        left: 27px;
        width: 30px;
        height: 47px;
    }
}

/* Mobile S*/
@media screen and (max-width: 272px) and (min-width: 265px) {
    .velg-front {
        bottom: 14px;
        right: 19px;
        width: 42px;
        height: 49px;
    }

    .velg-rear {
        bottom: 43px;
        left: 26px;
        width: 28px;
        height: 46px;
    }
}

/* Mobile S*/
@media screen and (max-width: 264px) and (min-width: 256px) {
    .velg-front {
        bottom: 14px;
        right: 18px;
        width: 40px;
        height: 47px;
    }

    .velg-rear {
        bottom: 41px;
        left: 25px;
        width: 26px;
        height: 44px;
    }
}

/* Mobile S*/
@media screen and (max-width: 255px) and (min-width: 246px) {
    .velg-front {
        bottom: 12px;
        right: 17px;
        width: 38px;
        height: 46px;
    }

    .velg-rear {
        bottom: 39px;
        left: 23px;
        width: 26px;
        height: 42px;
    }
}

/* Mobile S*/
@media screen and (max-width: 245px) and (min-width: 240px) {
    .velg-front {
        bottom: 12px;
        right: 16px;
        width: 36px;
        height: 43px;
    }

    .velg-rear {
        bottom: 38px;
        left: 22px;
        width: 26px;
        height: 38px;
    }
}